nav{
	background: #FB8A04;
}

body{
	width: 100%;
}

#navbarNav{
	font-size: 25px;
	font-weight: 800;
}

#navbarNav li{
	margin-left: 10px;
	margin-right: 10px;

}

#home .row{
	width:100vw;
}

#home{
	background: rgba(73, 33, 11, 0.83);
	color: white;
}

#home h1{
	font-size: calc(300em+300vw);
}

#home img{
	width: 400px;
	height: 640px;
}


#about{
	background: #FBA01D;
	color: white;
	padding: 100px 100px;
	font-size: 20px;

}

#about img{
	width: 300px;
	height: 300px;
	border-radius: 50%;

}

#first{
	font-weight: 500;
}

h1{
	font-size: 60px;
	text-align: center;

}

hr{
	border:solid 5px white;
	width: 200px;
	text-align: center;
}

.container{
	padding-top: 30px;
}

#skill{
	background: #2ACCBB;
	padding: 100px 100px;
	color: white;
}

#skill h4{
	padding-top: 20px;
}

#hardskill{
	margin-right: 100px;
}

.progress-bar{
	background:grey;
}

#experience{
	background: #B5F3F0;
	padding: 100px 100px;
}

#experience hr{
	border:solid 5px black;
}

#contact{
	background: #92B473;
	padding: 100px 100px;
	color: white;
	text-align: center;
}

#contact img{
	width: 30px;
	height: 30px;
	margin-left: 100px;
	margin-right: 100px;
}


form, .form-group{
	padding : 30px 30px;
}

.btn-group{
	padding-bottom: 50px;
}

.btn, .btn-secondary{
	background: rgba(15, 51, 71, 0.64) !important;
}

#galeri{
	background: #B5F3F0;
	padding: 100px 100px;
}

#galeri hr{
	border:solid 5px black;
	width:300px;
}

#galeri img{
	width: 400px;
	height: 300px;
	padding: 30px 30px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 90%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;

}

.container:hover .overlay {
  opacity: 1;
}

