{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Contact {% endblock %}

{% block content %}
	<section id="contact">
		<h1>Contact</h1>
		<hr>
		<form>
		  <div class="row">
		    <div class="col">
		      <input type="text" class="form-control" placeholder="Your Name">
		    </div>
		    <div class="col">
		      <input type="email" class="form-control" placeholder="Your Email">
		    </div>
		  </div>
		</form>
		<div class="form-group">
		   	<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
		</div>
		<div class="btn-group" role="group" aria-label="Basic example">
	  		<button type="button" class="btn btn-secondary">Send</button>
	  	</div>
	  	<br>

		<a href="https://www.linkedin.com/in/anatasyadc/">
			<img src="{%static 'img/linkedin.png' %}">
		</a>
		<a href="https://www.instagram.com/anatasyadc/">
			<img src="{%static 'img/instagram.png' %}">
		</a>
		<a href="https://twitter.com/anatasyadwijaya">
			<img src="{%static 'img/twitter.png' %}">
		</a>	
	</section>
{% endblock %}