{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Experience {% endblock %}

{% block content %}
	<section id="experience">
		<h1>Experience</h1>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>Committes Experience</h2>
					<br>
					<h3>SIWAK-NG</h3>
					<div class="row">
						<div class="col">
							<p>Vice Person in Charge Accomodations</p>
						</div>
						<div class="col">
							<p>Feb 2019 - Present</p>
						</div>
					</div>
					<h3>Wisuda Genap</h3>
					<div class="row">
						<div class="col">
							<p>Vice Person in Charge Food and Beverages</p>
						</div>
						<div class="col">
							<p>Feb 2019 - Agu 2019</p>
						</div>
					</div>
					<h3>COMPFEST</h3>
					<div class="row">
						<div class="col">
							<p>Staff of Data Science Academy</p>
						</div>
						<div class="col">
							<p>Feb 2019 - July 2019</p>
						</div>
					</div>
					<h3>Wisuda Ganjil</h3>
					<div class="row">
						<div class="col">
							<p>Staff of Food and Beverages</p>
						</div>
						<div class="col">
							<p>Dec 2019 - Jan 2019</p>
						</div>
					</div>
					
				</div>
				<div class="col">
					<h2>Organization Experience</h2>
					<br>
					<h3>FUKI Fasilkom UI</h3>
					<div class="row">
						<div class="col">
							<p>Staff of Muslimah Center</p>
						</div>
						<div class="col">
							<p>Feb 2019 - Present</p>
						</div>
					</div>
					<br>
					<br>
					<br>
					<h2>Volunteer Experience</h2>
					<br>
					<h3>Dasar Dasar Pemograman 0</h3>
					<div class="row">
						<div class="col">
							<p>Mentor</p>
						</div>
						<div class="col">
							<p>Agu 2019 </p>
						</div>
					</div>
					<h3>Pocman</h3>
					<div class="row">
						<div class="col">
							<p>Volunteer</p>
						</div>
						<div class="col">
							<p>Sep 2018 - Nov 2018</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}