{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Galeri {% endblock %}

{% block content %}
	<section id="galeri">
    <h1>Galeri</h1>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="{%static 'img/1533807681803.jpg' %}">
          <div class="overlay">Kelompok 44 OKK UI</div>
        </div>
        <div class="col-md-4">
          <img src="{%static 'img/1548922477535.jpg' %}">
          <div class="overlay">Divisi Konsumsi Wisuda Ganjil 2019</div>
        </div>
        <div class="col-md-4">
          <img src="{%static 'img/1550500602829.jpg' %}">
          <div class="overlay">Muslimah Center FUKI</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="{%static 'img/1536497141567.jpg' %}">
          <div class="overlay">Pocman</div>
        </div>
        <div class="col-md-4">
          <img src="{%static 'img/1543141949071.jpg' %}">
          <div class="overlay">Kelompok Kecil Beyla</div>
        </div>
        <div class="col-md-4">
          <img src="{% static 'img/1543136887405.jpg' %}">
          <div class="overlay">Kelompok Besar Lyra</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'img/line_821235995953109.jpg' %}">
          <div class="overlay">Data Science Academy Compfest</div>
        </div>
        <div class="col-md-4">
          <img src="{% static 'img/1560082973984.jpg' %}">
          <div class="overlay">Divisi Akomodasi SIWAK-NG</div>
        </div>
        <div class="col-md-4">
          <img src="{% static 'img/line_42438680065914.jpg' %}">
          <div class="overlay">Divisi Konsumsi Wisuda Genap 2019</div>
        </div>
      </div>
    </div>
	</section>
{% endblock %}