{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Home {% endblock %}

{% block content %}
	<section id="home">
		<div class="row">
		  <div class="col-md-4">
		  	<img src=" {% static 'img/foto header.jpg' %}" class="img-responsive">
		  </div>
		  <div class="col-md-8 align-self-center text-center">
		  	<h1 class="font-weight-bold">Anatasya<br>Dwijayanti</h1>
		  	<h4>Information System Student</h4>
		  	<h4>Universitas Indonesia</h4>	
		  	<br><br>
		  </div>
		</div>
	</section>
{% endblock %}