{% extends 'base.html' %}
{% block title %} {{title}}{% endblock %}
{% load staticfiles %}

{% block content %}
<div id="sched">
    <div class="container">
        <h1>Schedule</h1>
        <hr>
        <div class="col-md-12 left">
            <form method="POST" action="{% url 'homepage:del_schedule' %}">
                {% csrf_token %}
                <button>Delete All</button>
            </form>

            <a href="{% url 'homepage:schedule_add' %}">
            <button type="button">Add Schedule</button></a>
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Category</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in data %}
                    <tr>
                        <td>{{ obj.activity }}</td>
                        <td>{{ obj.dates|date:"l" }}</td>
                        <td>{{ obj.dates }}</td>
                        <td>{{ obj.time }}</td>
                        <td>{{ obj.location }}</td>
                        <td>{{ obj.category }}</td>
                        <td><a href="{% url 'homepage:schedule_edit' pk=obj.pk %}">
                        	<button type="button">Edit</button></a></td>
                        <td><a href="{% url 'homepage:schedule_delete' pk=obj.pk %}">
                        	<button type="button">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
