{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Skill {% endblock %}

{% block content %}
	<section id="skill">
		<h1>Skill</h1>
		<hr>
		<div class="container">
			<div class="row" id="hardskil">
				<div class="col-md-6">
					<h4>HTML</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
					</div>
					<h4>CSS</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
					</div>
					<h4>Python</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
					</div>
					<h4>Java</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
					</div>
					<h4>Video Editing</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Creative</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
					</div>
					<h4>Leadership</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
					</div>
					<h4>Time Management</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 72%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">72%</div>
					</div>
					<h4>Public Speaking</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
					</div>
					<h4>Adaptive</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
{% endblock %}